@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap');

// Colours
$color-1: #FAFAF1;
$color-2: #3CB67B;
$color-3: #E3A810;

#certificate {
  &.english-countryside  {
    font-family: "Libre Baskerville", serif;
    background: $color-1;
    border-top: 20px $color-3 solid;
    border-bottom: 20px $color-2 solid;
    .title {
      margin: 0.5em 0;
      color: $color-2;
      font-size: 1.2em;
    }
    .recipient-name {
      padding: 15px 0;
      border-top: 2px rgba($color-3,.5) solid;
      border-bottom: 2px rgba($color-3,.5) solid;
      color: $color-2;
    }
    .introduction,
    .description,
    .author {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
    }
    .stamp-edges,
    .stamp-edges:before,
    .stamp-edges:after,
    .stamp,
    .stamp:before,
    .stamp:after {
      background-color: $color-3;
    }
  }
}