@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

// Colours
$color-1: #FCFBEE;
$color-2: #E3A810;

#certificate {
  &.high-tea-in-paris {
    font-family: "Fondamento", cursive;
    background: $color-1;
    .container {
      border-width: 4px;
      border-style: double;
      border-color: rgba(0,0,0,.3);
    }
    .introduction,
    .description {
      font-family: "Lora", serif;
      font-weight: 400;
    }
    .recipient-name,
    .title {
      font: 1.7em "Alex Brush", cursive;
      margin: .4em;
      color: $color-2;
    }
    .recipient-name {
      font-size: 3.3em;
      line-height: 1em;
    }
    .description {
      padding-top: 0;
    }
    .stamp-edges,
    .stamp-edges:before,
    .stamp-edges:after,
    .stamp,
    .stamp:before,
    .stamp:after {
      background-color: $color-2;
    }
  }
}