@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;600&display=swap');

// Colours
$color-1: #FFECF0;
$color-2: #232323;
$color-3: #A80D3B;

#certificate {
  &.sweet-peach {
    font-family: "Lora", sans-serif;
    background: $color-1;
    color: $color-2;
    .recipient-name {
      color: $color-3;
    }
    .header,
    .footer {
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      .stamp-edges {
        order: 3;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 5%;
      }
      .author {
        padding-left: 0;
        padding-right: 5%;
      }
    }
  }
}